version: "3.9"

services:
  backend:
    build:
      context: ./back
      dockerfile: Dockerfile.dev
    container_name: symfony-backend-dev
    ports:
      - "8000:8000"
    volumes:
      - ./back:/var/www/html
    environment:
      - APP_ENV=dev
      - DATABASE_URL=sqlite:///var/www/html/var/app.db
    networks:
      - devnet

networks:
  devnet:
    driver: bridge

volumes:
  node_modules: